@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700italic,700);

@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: url('../static/TradeWinds.ttf') format('truetype');
}

/* Horribly hacky. */
img[alt=title-img], img.title-img {
    display: block;
    margin: 0 auto;
    width: 12rem;
}

.title {
	font-family: 'Trade Winds';
	font-weight: 700;
	font-size: 5em;
	text-align: center;
}

img[alt=image] {
    display: block;
    margin: auto;
}

.page-break {
    page-break-before: always;
}

.page-break-after {
    page-break-after: always;
}

.t-full > table {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Trade Winds';
    font-weight: bold;
    clear: both;
}

h1:not(.title) {
    page-break-before: always;
    border-top: 2px double black;
    border-bottom: 2px double black;
    font-weight: bolder;
}

h2 {
    border-bottom: 1px solid black;
}

* {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size-adjust: auto;
}

body {
    font-size: 9px;
}

p, ul, ol, table {
    margin-top: 0;
    margin-bottom: 0.9em;
}

table, td, th {
    page-break-inside: avoid;
    padding: 2px 3px;
    vertical-align: baseline;
}

table, td {
    border: 1px solid black;
}

ul, ol {
    padding-left: 1.6em;
}

li > p {
    display: inline;
}

code {
	color: #333;
	background-color: #ddd;
	border-radius: 2px;
    padding: 0.1em 0.5em;
}

pre {
	border-radius: 5px;
	background-color: #ddd;
	padding: 0.5em;
	padding-left: 1em;
}
